*{
    margin: 0px; padding: 0px; 
    box-sizing: border-box;
    color:white
    
}

html{scroll-behavior: smooth;}
body{font-family: 'Baloo Bhai 2', cursive; background-color: black; z-index:-66}

/* %Navigation bar */
#navbar{display: flex;height: 12vh; width: 60vw; justify-content: space-around; align-items: center; margin-top: 20px;font-family: 'Ubuntu', sans-serif;}
/*Logo CSS */
#logo{margin: 3px ;padding: 1px;}
#logo img {padding :-37px;margin: 10px 10px;}

/* nav-bar List CSS */
#navbar ul {display : flex;justify-content: space-around; align-items: center;width: 50vw;cursor: pointer; }

#navbar ul li {list-style: none; cursor:pointer}
#navbar ul li a {color: white;list-style: none; text-decoration: none; font-size: 1.5rem; padding: 0px 10px; cursor: pointer;}

#navbar ul li a:hover{background-color:white; color: black;}

header::before{background-color:white; content : ""; position: absolute; width: 100vw; height: 16.5vh; z-index: -1; opacity : 0.4; top:2px;} 

/* %INTRO Section */
#Intro::before{background:url('bg/bg-1.jpg') no-repeat center center /cover; content : ""; position: absolute; width: 100%; height: 84%; z-index: -1; opacity : 0.5; top:2px;}
#Intro{display : flex; flex-direction: column;margin:15px auto; height: 60vh; width: 80vw; justify-content: center;align-items: center;font-family: 'Baloo Bhai 2', cursive;}
.h_primary{font-size: 3.5rem;padding:10px; margin-top: 20px;}
#Intro h1{font-weight:bolder;text-align: center; color:white;}
p{font-family: 'Baloo Bhai 2', cursive;}
#Intro p{font-size:1.6rem; color:white;; margin:-10px;}

#products_container{flex-direction: column;display:flex;}
.boxes_container{display: flex;justify-content: space-between;}
.products{flex-direction: column;display:flex; width: 32%; justify-content: center;align-items: center; background-color: black;}
#products_container h1{margin-top: 45px;font-size: 3.5rem;font-weight:bolder; text-align: center; color:white;}
.products img{height: 500px; width: 100%;}
.products_head{font-size: 2rem; font-weight: 800;}
.products_2words{font-size: 1.7rem;}
.products p{align-self: center;padding:10px 51px;}

/* Clients section */
#clients_container::before{background:url('bg/bg-2.jpg') no-repeat center -575px /cover; content : ""; position:absolute; width: 100%; height:89%; z-index: -2; opacity : 0.25; padding:15px; margin-top: 15px;}
#clients_container h1{font-size: 3.5rem; font-weight:bolder;}
#clients_container{display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin-top: 8px; height:90vh;}
.clients{display : flex;height: 70vh;width: 95vw; align-items: center; justify-content: space-around; flex-wrap: wrap;}
.clients div img{padding : 5px;}
.clients div{margin: 10px 5px;}

/* Form Section */
#contact-box::before{background:url('bg/bg3.png') no-repeat center center /cover; content : ""; position: absolute; width: 100%; height: 55%; z-index: -1; opacity : 0.55;}
#contact{margin-top:15px;}
#contact h1{font-size: 3.5rem;text-align: center;margin: 5px;
    padding: 15px;}
#contact-box{display: flex; flex-direction: column; justify-content: space-around; align-items: center; height: 50vh;}
#contact-box input{width: 90%;text-align: center; border-radius: 5px;color:black}
#contact-box textarea{width: 90%;border-radius: 15px;}
#contact input::placeholder{
    background-color:black; color: white;
  }
#contact textarea::placeholder{text-align: center;color:white}
#contact textarea{background-color: black;}
#contact-box form label{font-size: 1.2rem; padding: 4px;}
#contact input[type = submit]{background-color:black; color:white;cursor: pointer;}
#btn{background-color: black;}
#contact #btn:hover{background-color:gray; color: black;}



/* footer */
footer{text-align: center; background-color: black; color: white; margin:5px; padding:5px;}